<!DOCTYPE html>
<html>
<head>
  <title>Bharatbigmarket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= link_to "Category", categories_path %> | <%= link_to "Sub Category", sub_categories_path %> | <%= link_to "Products", products_path %> |

	<% if user_signed_in?%>
		<%= link_to "Sing Out", destroy_user_session_path, :method => :delete  %> |
		Welcome <%= current_user.business_name%>
	<% else %>

		<%= link_to "Sign Up", new_user_registration_path %> | <%= link_to "Log In",new_user_session_path %>
	<% end %>


	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
